<h1>Question page </h1>
<p>Add your question below</p>

<form action="/questions">
  <input type="text" name="question">
  <input type="submit" value="Question!">
</form>


<!-- method should be post ? -->


